<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tashfeen</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

   
</head>
<body>
    <div class="header">
        <h1 class="Name"><a href="index.html">Tashfeen Protfolio</a></h1>

        <nav class="navbar">
            <a href="~/index">Home</a>
            <a href="/User/Services">Services</a>
            <a href="/User/Skills">Skills</a>
            <a href="/User/Projects">Projects</a>
            <a href="/User/Blogs">My Blogs</a>
            <button onclick="window.location.href='/User/Contact'">
                Book With Us
            </button>
        </nav>
    </div>

    @RenderBody()

</body>
</html>
