@page
@model Portfolio.Pages.User.ServicesModel
@{
}

<div class="services">
    <h1>Our Services</h1>
    <div class="services-content">
        <div class="service-card">
            <i  class="fa-solid fa-laptop-code fa-2xl"></i>
            <h2>Web Development</h2>
            <p>
                We build responsive, user-friendly websites using the latest web
                technologies, ensuring high performance and scalability.
            </p>
        </div>
        <div class="service-card">
            <i   class="fa-solid fa-mobile-alt fa-2xl"></i>
            <h2>Android App Development</h2>
            <p>
                Create powerful and intuitive mobile applications for Android
                devices, tailored to meet your business needs.
            </p>
        </div>
        <div class="service-card">
            <i   class="fa-solid fa-chart-line fa-2xl"></i>
            <h2>Power BI Dashboard</h2>
            <p>
                Visualize and analyze your data with interactive Power BI dashboards
                to drive better decision-making and insights.
            </p>
        </div>
    </div>
    <div class="services-content">
        <div class="service-card">
            <i   class="fa-solid fa-database fa-2xl"></i>
            <h2>Web Scraping</h2>
            <p>
                Extract valuable data from websites efficiently using advanced web
                scraping techniques tailored to your requirements.
            </p>
        </div>
        <div class="service-card">
            <i   class="fa-solid fa-broom fa-2xl"></i>
            <h2>Data Cleaning</h2>
            <p>
                Ensure data quality by cleaning, organizing, and structuring your
                data for accurate analysis and reporting.
            </p>
        </div>
        <div class="service-card">
            <i   class="fa-solid fa-file-excel fa-2xl"></i>
            <h2>Ms Excel</h2>
            <p>
                Unlock the power of Excel for data analysis, automation, and
                reporting with custom formulas, charts, and macros.
            </p>
        </div>
    </div>
</div>